$primary-font: "Inter", sans-serif;
$secondary-font: "Lato", sans-serif;

$primary-color: #8146ff;
$primary-color-lighter: #ccb7fb;
$primary-color-darker: #7e22ce;

$secondary-color: #0173f9;
$secondary-color-lighter: #579aff;
$third-color: #db48ff;
$fourth-color: #ff447c;

$border-gray: #f0f1f6;
$border-gray-dark: #cdcfd4;

$background-gray: #e5e5e5;
$background-light: #ffffff;
$background-user: #f2e7e1;

$text-white: #ffffff;
$text-dark: #081615;

$text-gray: #61677f;

$text-gray-lighter: #acb2be;
$text-grayer: #9fa9bd;

$text-danger: #f25f64;
$text-danger-lighter: #fff5f5;
$text-warn: #f2ad62;
$text-success: #56c456;
$text-success-lighter: #f5fbf5;

$available: #12ba76;
$busy: #f33d3d;
$offline: #dbdbdb;

$box-shadow: 0px 50px 50px -50px rgba(82, 81, 81, 0.16);

$opacity80: 0.8;

// color: #8146ff !important;
// background-color: #fff;
// border: 1px solid #8146ff !important;

// background-color: #8146ff !important;
// border: 1px solid #ccb7fb;
