@import "../../app";

.p-inputgroup {
  min-height: 40px;
  padding-right: 16px;
  .p-inputtext {
    padding-left: 10px;
  }
}

// .p-selectbutton.p-buttonset.p-component {
//   padding-bottom: 18px;
// }
