<section class="doctor">
  <div class="doctor__header">
    <div class="doctor__header-title">
      <span>Add New Doctor</span>
    </div>

    <div class="fa__feature primary">
      <div class="fa__feature-btn" (click)="backToDoctorList()">
        <svg-icon key="plus" size="lg"></svg-icon>
        <span>Back</span>
      </div>
    </div>
  </div>
  <div class="container-fluid doctor__list">
    <div *ngIf="!!formDoctorGroup" [formGroup]="formDoctorGroup">
      <div class="row">
        <h5>Your name</h5>
        <div class="col-6 md:col-6 mb-3">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input
              type="text"
              pInputText
              placeholder="First name"
              [formControlName]="fieldNameKeys.firstName"
              [innerMsg]="messageErrors"
            />
          </div>
          <!-- <div *ngIf="isInvalidControl(fieldNameKeys.firstName)">
            <ng-container
              *ngFor="let msg of getErrorByField(fieldNameKeys.firstName)"
            >
              {{ msg }}
              <br />
            </ng-container>
          </div> -->
        </div>

        <div class="col-6 md:col-6">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input
              type="text"
              pInputText
              placeholder="Last name"
              [formControlName]="fieldNameKeys.lastName"
              [innerMsg]="messageErrors"
            />
          </div>
          <!-- <div *ngIf="isInvalidControl(fieldNameKeys.lastName)">
            <ng-container
              *ngFor="let msg of getErrorByField(fieldNameKeys.lastName)"
            >
              {{ msg }}
              <br />
            </ng-container>
          </div> -->
        </div>

        <h5>Your avatar</h5>
        <div class="col-12 mb-3"></div>

        <h5>Your status</h5>
        <div class="col-12 mb-3">
          <p-selectButton
            [options]="statusOptions"
            optionLabel="label"
            optionValue="value"
            [formControlName]="fieldNameKeys.status"
          ></p-selectButton>
        </div>

        <h5>Your Department</h5>
        <div class="col-12 mb-3">
          <p-dropdown
            [options]="derpartments"
            optionLabel="name"
            optionValue="code"
            [formControlName]="fieldNameKeys.derpartment"
          ></p-dropdown>
        </div>

        <h5>Your Position</h5>
        <div class="col-12 mb-3">
          <p-dropdown
            [options]="positions"
            optionLabel="name"
            optionValue="code"
            [formControlName]="fieldNameKeys.position"
          ></p-dropdown>
        </div>

        <h5>Your Phone Number</h5>
        <div class="col-12 mb-3">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
            <input
              type="text"
              pInputText
              placeholder="Phone Number"
              [formControlName]="fieldNameKeys.phone"
              [innerMsg]="messageErrors"
            />
          </div>
          <!-- <div *ngIf="isInvalidControl(fieldNameKeys.phone)">
            <ng-container
              *ngFor="let msg of getErrorByField(fieldNameKeys.phone)"
            >
              {{ msg }}
              <br />
            </ng-container>
          </div> -->
        </div>

        <h5>Your Email Address</h5>
        <div class="col-12 mb-3">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"
              ><i class="pi pi-envelope"></i
            ></span>
            <input
              type="text"
              pInputText
              placeholder="Email Address"
              [formControlName]="fieldNameKeys.mail"
              [innerMsg]="messageErrors"
            />
          </div>
          <!-- <div *ngIf="isInvalidControl(fieldNameKeys.mail)">
            <ng-container
              *ngFor="let msg of getErrorByField(fieldNameKeys.mail)"
            >
              {{ msg }}
              <br />
            </ng-container>
          </div> -->
        </div>
        <div class="col-12 text-end">
          <p-button
            icon="pi pi-check"
            (click)="onSubmit()"
            label="Add"
            class="fa__button--primary"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</section>
