<!-- <div class="chartLabel">
  <div class="chartLabel_name">1</div>
  <div class="chartLabel_tags">
    <div class="chartLabel_tagsItem" (click)="onToggle(0)">
      <div class="chartLabel_tagsItem--icon"></div>
      <div class="chartLabel_tagsItem--name hideItem">New Patients</div>
    </div>

    <div class="chartLabel_tagsItem" (click)="onToggle(1)">
      <div class="chartLabel_tagsItem--icon"></div>
      <div class="chartLabel_tagsItem--name">New Patients</div>
    </div>
  </div>
  <div class="chartLabel_option">3</div>
</div> -->
<canvas id="chartId" style="height: 100%"></canvas>
